<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="success-card">
  <template>
    <style>
      :host {
        display: block;
      }

      .labelContainer{
        display: block;
        width: 50%;
        text-align: center;
        margin: 0 auto;
      }

      p{
        display: block;
        text-align: left;
        margin: 40px 0;
      }

      

      .textoContainer {
        width: 100%;
        text-align: center;
      }

      button {
        width: 65px;
        height: 25px;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section class="textoContainer">

      <h2>Success!</h2>
      <section class="labelContainer">
        
        <p>Lorem ipsum dolor sit amet consectetur</p>


        
        <p>Lorem ipsum dolor sit amet consectetur</p>


        
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </section>

      <button>Boton</button>
    </section>
  </template>

  <script>
    /**
     * `success-card`
     * Elemento para la success-card
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccessCard extends Polymer.Element {
      static get is() { return 'success-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'success-card'
          }
        };
      }
    }

    window.customElements.define(SuccessCard.is, SuccessCard);
  </script>
</dom-module>
